<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1 style="text-align: center; margin-top: 2%">Solve math equations</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <div class="card mb-3 question-card" style="margin-top: 5%">
          <img src="/assets/images/question.jpg" alt="question">
          <div class="card-body">
            <form style="width: 90%; margin: auto;">
              <input class="input-answer"><br>
              <input class="input-answer"><br>
              <input class="input-answer"><br>
              <input class="btn-solve" type="button" value="CHECK ANSWER">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<style type="text/css">

  main {
    background-image: linear-gradient(to bottom right, #92DCE0, #F5F5F5);
    height: 100vh;
  }

  h1 {
    color: #FFFFFF;
    text-shadow: 2px 2px #5a5a5a;
  }

  .input-answer {
    border-radius: 12px;
    margin-left: 43%;
    margin-bottom: 1%;
  }

  .btn-solve {
    border-color: #1FDA9A;
    margin-right: 15%;
    background: none;
    border-radius: 12px;
    color: #171a1d;
    margin-left: 45%;
  }

  .btn-solve:hover {
    background-color: #1FDA9A;
    color: #FFFFFF;
  }


  .question-card {
    -webkit-box-shadow: 10px 9px 26px -8px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 9px 26px -8px rgba(0,0,0,0.67);
    box-shadow: 10px 9px 26px -8px rgba(0,0,0,0.67);
    max-height: 85vh;
    margin-top: 2% !important;;
  }

  .question-card img {
    height: 50vh;
    max-width: 90%;
    margin-top: 2%;
    margin-left: 5%;
    display: block;
  }

  .card:hover {
    -webkit-box-shadow: 10px 9px 26px 3px rgba(0,0,0,0.67);
    -moz-box-shadow: 10px 9px 26px 3px rgba(0,0,0,0.67);
    box-shadow: 10px 9px 26px 3px rgba(0,0,0,0.67);
  }




</style>
