<main>
    <div class="container">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h2 style="text-align: center">Demo</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div style="width: 95%; margin-right: 5%; margin-top: 2%; float: left">
                    <img width="100%" src="./assets/images/sasSchema.png">
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div style="width: 95%; margin-right: 5%; margin-top: 2%; float: right">
                    <span>та передавальними функціями елементів:</span><br>
                    <div>
                        <span style="width: 45%; margin-right: 5%">- перетворювального елемента</span>
                        <img width="30%" src="./assets/images/wpe.png"><br>
                    </div>
                    <div>
                        <span style="width: 45%; margin-right: 5%">- підсилювач потужності</span>
                        <img width="30%" src="./assets/images/wpp.png"><br>
                    </div>
                    <div>
                        <span style="width: 45%; margin-right: 5%">- підсилювач потужності</span>
                        <img width="30%" src="./assets/images/wpp.png"><br>
                    </div>
                    <div>
                        <span style="width: 45%; margin-right: 5%">- електродвигуна</span>
                        <img width="45%" src="./assets/images/wdu.png"><br>
                        <img style="margin-left: 27%" width="5%" src="./assets/images/kdu.png"><span>= 10.5;  </span>
                        <img width="5%" src="./assets/images/kdw.png"><span>= 8.2e3</span><br>
                        <img style="margin-left: 27%" width="2%" src="./assets/images/t1.png"><span>= (0.15 * s + 1);  </span>
                        <img width="2%" src="./assets/images/t2.png"><span>= (0.003 * s + 1)</span><br>
                        <img width="45%" style="margin-left: 27%" src="./assets/images/wdm.png"><br>
                        <img scr="./assets/images/kdu.png">
                    </div>
                    <div style="width: 100%">
                        <span style="width: 45%; margin-right: 5%">- тахогенератора</span>
                        <img width="25%" src="./assets/images/wtg.png"><span>= 0.08;</span><br>
                    </div>
                    <div>
                        <span style="width: 45%; margin-right: 5%">- коректувального елемента</span>
                        <img width="25%" src="./assets/images/wke.png"><span>= 1</span><br>
                    </div>
                </div>
            </div>
        </div>

        <hr style="width: 100%">

        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <span style="margin-bottom: 3%; margin-top: 5%">- за задавальним впливом</span><br>
                <div style="width: 60%; margin: auto; margin-bottom: 1.5%; padding-left: 15%">
                    <img width="10%" src="./assets/images/phiS.png"><span>=</span>
                    <img width="60%" src="./assets/images/phiSHint.png"><span>=</span>
                </div>
                <div style="width: 60%; margin: auto; margin-bottom: 1.5%; padding-left: 15%">
                    <span>=</span><img width="70%" src="./assets/images/phiSStage2.png"><span>=</span>
                </div>
                <div style="width: 60%; margin: auto; margin-bottom: 1.5%; padding-left: 15%">
                    <span>=</span><img width="70%" src="./assets/images/phiSDemoValues1.png"><span>=</span>
                </div>
                <div style="width: 60%; margin: auto; margin-bottom: 1.5%; padding-left: 15%">
                    <span>=</span><img width="35%" src="./assets/images/phiSDemoValues2.png"><span>=</span>
                    <img width="35%" src="./assets/images/phiSDemoValues3.png"><span>;</span>
                </div>

                <span style="margin-bottom: 3%; margin-top: 5%">- за збурюальним впливом</span><br>
                <div style="width: 60%; margin: auto; margin-bottom: 1.5%; padding-left: 15%">
                    <img width="10%" src="./assets/images/phifS.png"><span>=</span>
                    <img width="60%" src="./assets/images/phifSHint.png"><span>=</span>
                </div>
                <div style="width: 60%; margin: auto; margin-bottom: 1.5%; padding-left: 15%">
                    <span>=</span><img width="70%" src="./assets/images/phiSStage2.png"><span>=</span>
                </div>
                <div style="width: 60%; margin: auto; margin-bottom: 1.5%; padding-left: 15%;">
                    <span>=</span><img width="50%" src="./assets/images/phifSDemoValues3.png"><span>;</span>
                </div>

                <span style="margin-bottom: 3%; margin-top: 5%">Короні характерестичного рівняння</span><br>
                <div style="width: 60%; margin: auto; margin-bottom: 1.5%; padding-left: 15%">
                    <img width="60%" src="./assets/images/aSDemoValue1.png"><span>= 0</span>
                </div>
                <div style="width: 60%; margin: auto; margin-bottom: 1.5%; padding-left: 15%">
                    <span style="margin-left: 15%">=</span><img width="30%" src="./assets/images/aSDemoValue2.png"><span>;</span>
                </div>
                <div style="width: 60%; margin: auto; margin-bottom: 1.5%; padding-left: 15%;">
                    <img style="margin-left: 20%" width="25%" src="./assets/images/aSDemoValue3.png"><span>;</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="">

            </div>
        </div>

    </div>
</main>
