<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <h1 style="text-align: center; margin-top: 2%">Виберіть розділ навчання</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card mb-3" style="margin-top: 5%">
          <h5 class="card-header">Перехідних характеристик систем автоматичного управління</h5>
            <img style="width: 90%; margin-top: 2%; margin-left: 5%; display: block;" src="/assets/images/1.jpg" alt="2">
          <div class="card-body">
             <a routerLink="/lecture"><button type="button" class="btn btn-primary btn-theme-demo">DEMO</button></a>
            <button type="button" class="btn btn-primary btn-theme-learn">LEARN</button>
            <button type="button" class="btn btn-primary btn-theme-test">TEST</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card mb-3" style="margin-top: 5%">
          <h5 class="card-header">Визначенню стійкості систем автоматичного управління</h5>
          <img style="width: 90%; margin-top: 2%; margin-left: 5%; display: block;" src="/assets/images/2.jpg" alt="2">
          <div class="card-body">
            <button type="button" class="btn btn-primary btn-theme-demo">DEMO</button>
            <button type="button" class="btn btn-primary btn-theme-learn">LEARN</button>
            <button type="button" class="btn btn-primary btn-theme-test">TEST</button>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
        <div class="card mb-3" style="margin-top: 5%">
          <h5 class="card-header">Частотні характеристик об'єктів автоматичного управління</h5>
          <img height="313.19px" style="width: 90%; margin-top: 2%; margin-left: 5%; display: block;" src="/assets/images/3.jpg" alt="2">
          <div class="card-body">
            <button type="button" class="btn btn-primary btn-theme-demo">DEMO</button>
            <button type="button" class="btn btn-primary btn-theme-learn">LEARN</button>
            <button type="button" class="btn btn-primary btn-theme-test">TEST</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<style type="text/css">

    main {
        background-image: linear-gradient(to bottom right, #FFFFFF, #F5F5F5);
        height: 100vh;
    }

    h1 {
        color: #171a1d;
    }

    .btn-theme-demo, .btn-theme-learn, .btn-theme-test {
      background: none;
      border-radius: 12px;
      color: #171a1d;
    }

    .btn-theme-demo {
      border-color: #1FDA9A;
      margin-right: 15%;
    }
    .btn-theme-learn {
      border-color: #28ABE3;
      margin-right: 15%;
    }

    .btn-theme-test {
      border-color: #FFD900;
    }

    .btn-theme-demo:hover {
      background-color: #1FDA9A;
      color: #FFFFFF;
    }

    .btn-theme-learn:hover {
      background-color: #28ABE3;
      color: #FFFFFF;
    }

    .btn-theme-test:hover {
      background-color: #FFD900;
      color: #FFFFFF;
    }

    .card {
      -webkit-box-shadow: 10px 9px 26px -8px rgba(0,0,0,0.67);
      -moz-box-shadow: 10px 9px 26px -8px rgba(0,0,0,0.67);
      box-shadow: 10px 9px 26px -8px rgba(0,0,0,0.67);
    }

    .card:hover {
      -webkit-box-shadow: 10px 9px 26px 3px rgba(0,0,0,0.67);
      -moz-box-shadow: 10px 9px 26px 3px rgba(0,0,0,0.67);
      box-shadow: 10px 9px 26px 3px rgba(0,0,0,0.67);
    }

</style>